:root {
  --white: #fff;
  --text-secondary: hsla(0, 0%, 100%, 0.5);
  --audioPlayer: 90px;
}

* {
  box-sizing: border-box;
}
body {
  background: #170f24;
  color: white;
  margin: 0;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: var(--active-color);

  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    color: white;
  }
  p {
    font-size: 1rem;
  }
}
.btn-primary {
  background-color: #7200a0;
  border-radius: 20px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 1rem;
}

.dashboard-body {
  width: 85%;
  position: fixed;
  left: 15%;
  background-color: #170f24;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

.re {
  cursor: pointer;
}
@media (max-width: 1199px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    &-logo {
      display: none;
    }
    p {
      display: none;
    }
    li {
      padding: 6px 0;
    }
  }
  .dashboard-body {
    width: 90%;
    left: 10%;
  }
  .sidebar-logo-mob {
    display: block;
  }
  .sidebar__menu {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    a,
    li {
      flex-direction: column;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .sidebar-modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    width: 100%;
    z-index: 10;
    &.show {
      transform: translateX(0%);
      .sidebar {
        transform: translateX(0%);
      }
    }
  }
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    right: 100%;
    height: 100vh;
    z-index: 2;
    width: 50%;
    transition: all 0.5s ease;
    transform: translateX(-100%);
  }
}

@media (max-width: 992px) {
  .header__content {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    p {
      text-align: start;
    }
  }
  .header__left {
    padding: 1rem 1rem !important;
  }
  .dashboard__tracklist {
    overflow-y: scroll;
    height: calc(100vh - 400px);
  }
}
@media (max-width: 600px) {
  .header__content {
    padding: 4px 4px 4px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    p {
      text-align: start;
    }
    h2 {
      text-align: start;
      font-size: 18px;
    }
  }
  .header__left {
    display: flex;
    align-items: center;
    padding: 0 4px !important;
  }

  .dashboard-body {
    left: 0;
    width: 100%;
  }
  .dashboard__header {
    display: flex;
    padding: 4px 4px;
  }
  .audio-player {
    &__desc {
      width: 40%;
    }
    &__track {
      width: 60%;
    }
    &__right {
      display: none !important;
    }
  }
  .dashboard__tracklist {
    overflow-y: scroll;
    height: calc(100vh - 352px);
  }
  .search-bar {
    padding: 0 1rem !important;
    justify-content: space-evenly;
  }
  .search-bar form {
    width: 100%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotateBack {
  from {
    transform: rotate(1000deg);
    border-radius: 50%;
  }
  to {
    transform: rotate(0deg);
    border-radius: 20px;
  }
}
